// Fonts colors
$accent-color : #ffb366;
$base-color : lighten(#000000,0.10);
$contrast-color : #ffffff;

// Background colors
$accent-bg-color : #1f1e1e;
$base-bg-color : #e8e8e8;
$contrast-bg-color : #000000;
