// Inputs border radius
$input-top-left-border-radius: 0.2rem;
$input-top-right-border-radius: 0.2rem;
$input-bottom-left-border-radius: 0.2rem;
$input-bottom-right-border-radius: 0.2rem;

// Cards border radius
$card-top-left-border-radius: 0rem;
$card-top-right-border-radius: 0rem;
$card-bottom-left-border-radius: 0rem;
$card-bottom-right-border-radius: 0rem;
