// Font-sizes
$size-xxsmall: 0.5rem;
$size-xsmall: 0.72rem;
$size-small: 0.85rem;
$size-medium: 1rem;
$size-large: 1.14rem;
$size-xlarge: 1.35rem;
$size-xxlarge: 1.7rem;

// Font-weight
$weight-normal: 300;
$weight-bold: 600;

// Inputs size
$input-size-xxsmall: 0.5rem;
$input-size-xsmall: 0.72rem;
$input-size-small: 0.85rem;
$input-size-medium: 1rem;
$input-size-large: 1.14rem;
$input-size-xlarge: 1.35rem;
$input-size-xxlarge: 4rem;

//Responsive breakpoints
$breakpoints: (
  'small':  800px,
  'medium': 992px,
  'large':  1200px,
  'xlarge':  1800px
) !default;

//Sidebar width
$sidebar-size: 22rem;
$sidebar-collapsed-size: 5rem;

//Cards width
$card-size: 18rem;

//Header & footer height
$header-height: 5rem;
$footer-height: 5rem;

//Content img aspect ratio
$content-img-width: 28rem;
$content-img-heigth: 20rem;
$content-img-group-height: 30rem;
$grow-factor: 2;

@mixin contentImgSmallAspectRatio() {
  width: $content-img-width;
  min-width: $content-img-width;
  height: $content-img-heigth;
  min-height: $content-img-heigth;
}

@mixin contentImgHugeAspectRatio() {
  width: $content-img-width*$grow-factor;
  min-width: $content-img-width*$grow-factor;
  height: $content-img-heigth*$grow-factor;
  min-height: $content-img-heigth*$grow-factor;
}
