@import '../styles.scss';

app-thumbnail-board{

  width: 100%;
}

.footer{

  background-color: $primary-bg-color;
  height: 10vh;

  display: flex;
  align-items: center;
  justify-content: center;

  img{

    height: 60%;
    object-fit: contain;
  }
}
