.detail-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.detail-jumbotron {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.content-main-info {
  align-items: center;
  display: flex;
}

.content-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-origin-country-list {
  display: flex;
}

.content-img-group-top,
.content-img-group-bottom {
  display: flex;
  flex-wrap: wrap;
}

.content-img-left-top {
  align-self: flex-start;
}

.content-img-right-bottom {
  align-self: flex-end;
}

.cast-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cast {
  display: flex;
  align-items: center;
}

.cast-avatar {
  display: block;
  flex-shrink: 0;
}

.content-img-group-bottom {

  .content-img-left-top {
    align-self: flex-end;
  }

  .content-img-right-bottom {
    align-self: flex-start;
  }
}
