.card {
  position: relative;
}

.card-body {
  position: relative;
  max-height: 5rem;
}

.image-top {
  height: 25rem;
  text-align: center;
}

.content-duration {
  height: 2.5rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.content-title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
}
