<div *ngIf="content != undefined" class="d-flex flex-column align-items-center justify-content-center">

  <div class="card w-100">

    <div class="content-duration">
      <img src="/assets/clock.svg" alt="duration" />
      <p *ngIf="content.duration | minutesToHours as d; else nullDuration">{{ d }}</p>
      <ng-template #nullDuration><p i18n="@@content-detail.unknown">Unknown</p></ng-template>
      <img class="ml-auto my-1 mr-2 back" src="/assets/close.svg" alt="back to home" (click)="goBack()"/>
    </div>

    <div class="d-flex justify-content-start">
      <div class="image-top">
        <img src="{{content.posterUrl}}" alt="Content poster unavailable"/>
      </div>

      <div *ngIf="content.cast != undefined && content.director != undefined" class="m-auto">
        <div class="d-flex justify-content-between ">
          <div class="px-4">
            <h2>Main cast</h2>
            <ul class="list-group">
              <li *ngFor="let cast of content.cast | slice:0:5" class="list-group-item">{{cast.name}}</li>
            </ul>
          </div>

          <div class="px-4">
            <h2>Director</h2>
            <p>{{content.director}}</p>
          </div>

          <div class="px-4">
            <h2>Vote average</h2>
            <p>{{content.vote_average}}</p>
          </div>
        </div>
      </div>
    </div>


    <div class="card-body">

      <div class="content-title">
        <p>{{content.title}}</p>
      </div>

    </div>
  </div>

  <div *ngIf="content.releaseDate.getFullYear() != 0801" class="content-year">{{ content.releaseDate | date: 'yyyy'}}</div>
</div>
