@import '../assets/css/variables';

.searchArea{
  position: relative;
}

.searchArea img{

  width: 1.2em;
  position: absolute;
  right: 3em;
  top: 20%;
}

.searchArea input{

  border-radius: 25px;
  border: none;
  width: 40vw;
  height: 5vh;
  max-height: 2em;
  min-height: 1.5em;
  padding-left: 1em;
  padding-right: 1em;

  color: $primary-bg-color;

  &:focus{
    outline: none;
  }
}
