<div class="mx-auto d-flex justify-content-between">
  <div class="h-auto sidebar" [class.expanded]="!filtersPaneHidden">
    <div (click)="toggleFiltersPane()" class=" px-4 filters-pan d-flex justify-content-between align-items-center">
      <img src="/assets/icons/filter.svg" alt="" />
      <img *ngIf="!filtersPaneHidden" src="/assets/icons/close.svg" alt="Close filter panel" />
    </div>

    <app-content-filters-panel (updateFilter)="onUpdateFilter($event)" [hidden]="filtersPaneHidden">
    </app-content-filters-panel>
  </div>

  <div class="d-flex flex-wrap justify-content-start w-100">
    <div *ngFor="let content of contents| slice:0:10">
      <app-content-thumbnail *ngIf="content.visible" [content]="content"></app-content-thumbnail>
    </div>
  </div>
</div>
