<div class="thumbnail-board-container">
  <app-content-filters-panel></app-content-filters-panel>
  <div class="thumbnail-board-sub-container">
    <div class="thumbnail-board-thumbnails" [class.empty]="!contents.length">
      <ng-container *ngFor="let content of contents">
        <app-content-thumbnail *ngIf="content.visible" [content]="content"></app-content-thumbnail>
      </ng-container>
      <p *ngIf="!getVisibleContents().length" class="thumbnail-board-empty-msg">No content to display</p>
    </div>
  </div>
</div>
