.filters-panel-header {
  display: flex;
  justify-content: center;
  align-items: center;

  &.expanded{
    justify-content: space-between;
  }
}

.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-vertical {
  align-items: flex-start;
  flex-direction: column;
}
