<div class="filters-panel-fluid-container" [class.expanded]="!hidden"></div>
<div class="filters-panel-fixed-container" >
  <div class="filters-panel-header" [class.expanded]="!hidden" (click)="hidden=!hidden">
    <img src="/assets/icons/filter.svg" alt="filter icon" class="filters-panel-header-icon" />
    <img *ngIf="!hidden" src="/assets/icons/close.svg" alt="Close filter panel" class="filters-panel-header-icon"/>
  </div>

  <div class="filters-panel" *ngIf="!hidden">

    <section class="filter-category content-types">
      <h4 class="filter-category-title">Content types</h4>

      <div class="filter">
        <label for="movieCat">Movies</label>
        <input type="checkbox" checked (click)="toggleShowMovies()" name="movieCat" class="form-control filter-input" />
      </div>
      <div class="filter">
        <label for="tvCat">TV Shows</label>
        <input type="checkbox" checked (click)="toggleShowTvShows()" name="tvCat" class="form-control filter-input" />
      </div>
    </section>

    <section class="filter-category">
      <h4 class="filter-category-title">Release date</h4>

      <div class="filter filter-vertical">
        <label for="gt-release-date">After</label>
        <div class="input-group">
          <input id="gt-release-date" value="{{ filter.gtReleaseDate }}" #gtDate (input)="updateGtDate(gtDate.value)"
            name="gt-release-date" type="date" class="form-control filter-input"/>
          <div class="input-group-append">
            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
          </div>
        </div>
      </div>

      <div class="filter filter-vertical">
        <label for="lt-realease-date">Before</label>
        <div class="input-group">
          <input id="lt-realease-date" value="{{ filter.ltReleaseDate }}" #ltDate (input)="updateLtDate(ltDate.value)"
            name="lt-realease-date" type="date" class="form-control filter-input"/>
          <div class="input-group-append">
            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
