<div class="contentThumbnail d-flex flex-column align-items-center">

  <div class="card">

    <div class="contentDuration">
      <img src="/assets/clock.svg" alt="duration" />
      <p>{{content.duration | minutesToHours}}</p>
    </div>

    <div class="card-img-top">
      <img src="{{content.posterUrl}}" alt="Content poster unavailable">
    </div>

    <div class="card-body">

      <div class="actionBar d-flex justify-content-around">
        <img src="/assets/watchList.svg"/>
        <p>More infos</p>
        <img src="/assets/watched.svg" alt="watched"/>
      </div>

      <div class="contentTitle">
        <p>{{content.title}}</p>
      </div>

    </div>
  </div>

  <div *ngIf="content.releaseDate.getFullYear() != 0801" class="contentYear">{{ content.releaseDate | date: 'yyyy'}}</div>
</div>
