<div *ngIf="content != undefined" class="d-flex flex-column align-items-center justify-content-center">

  <div class="card w-100">

    <button (click)="goBack()">Back</button>

    <div class="contentDuration">
      <img src="/assets/clock.svg" alt="duration" />
      <p>{{content.duration | minutesToHours}}</p>
    </div>

    <div class="d-flex justify-content-start">
      <div class="image-top">
        <img src="{{content.posterUrl}}" alt="Content poster unavailable">
      </div>

      <div *ngIf="casts != undefined && director != undefined" class="m-auto">
        <div class="d-flex justify-content-between ">
          <div class="px-4">
            <h2>Main cast</h2>
            <ul class="list-group">
              <li *ngFor="let cast of casts | slice:0:5" class="list-group-item">{{cast.name}}</li>
            </ul>
          </div>

          <div class="px-4">
            <h2>Director</h2>
            <p>{{director}}</p>
          </div>

          <div class="px-4">
            <h2>Vote average</h2>
            <p>{{content._vote_average}}</p>
          </div>
        </div>
      </div>
    </div>


    <div class="card-body">

      <div class="contentTitle">
        <p>{{content.title}}</p>
      </div>

    </div>
  </div>

  <div *ngIf="content.releaseDate.getFullYear() != 0801" class="contentYear">{{ content.releaseDate | date: 'yyyy'}}</div>
</div>
