app-content-detail {
  .detail-container {
    position: relative;
    margin-top: $spacing-xxlarge * 6;
  }

  .detail-section {
    padding: $spacing-medium;
    padding-left: $spacing-xxlarge*8;
    color: lighten($base-color, 30);

    @media (max-width: map-get($breakpoints, "large")){
      padding-left: $spacing-xxlarge;
      padding-right: $spacing-xxlarge;
    }
  }

  .detail-section-title {
    color: $accent-color;
    margin-bottom: $spacing-large;
  }

  .detail-jumbotron {
    background: $detail-jumbotron-gradient;
    color: $contrast-color;
  }

  .jumbotron-title {
    font-size: $input-size-xxlarge;
  }

  .jumbotron-section {
    margin-top: $spacing-medium;
    margin-bottom: $spacing-medium;
  }

  .jumbotron-property {
    font-size: $size-large;

    &:not(:last-child),
    & label {
      margin-right: $spacing-xxsmall;
    }
  }

  .director {
    margin-top: $spacing-tiny;
    margin-bottom: $spacing-tiny;
  }

  .jumbotron-property-label {
    margin: $spacing-none;
  }

  .error-label {
    font-size: $size-large;
    margin-bottom: $spacing-none;
  }

  .separator {
    margin-right: $spacing-xxsmall;
    margin-left: $spacing-xxsmall;
  }

  .content-img-group-top {
    height: 30rem;
    margin: $spacing-xxlarge auto;

    @media (min-width: map-get($breakpoints, "xlarge")) {
      position: absolute;
      top: -6rem;
      right: 5rem;
    }

    @media (max-width: map-get($breakpoints, "xlarge")) {
      height: auto;
      justify-content: center;

      .content-img-right-bottom {
        margin-left: $spacing-none;
        margin-top: $spacing-large;
      }
    }
  }

  .content-img {
    @include contentImgSmallAspectRatio;
    position: relative;
    object-fit: cover;

    &.empty::before {
      @include contentImgSmallAspectRatio;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background-color: $accent-bg-color;
      content: "";
    }
  }

  .content-img-right-bottom {
    margin-left: -10rem;
    z-index: 0;
  }

  .content-img-left-top {
    object-position: 50% 0;
    z-index: 1;
  }

  .content-origin-country-list {
    padding: $spacing-none;
  }

  .content-origin-country {
    list-style: none;
  }

  .country-flag {
    padding: $spacing-medium;
    padding-left: $spacing-none;
  }

  .director-name {
    margin-right: $spacing-medium;
    margin-left: $spacing-medium;
  }

  .synopsis {
    max-width: 60rem;
    font-size: $size-medium;
    margin-top: $spacing-xxlarge;
  }

  .cast {
    width: 30rem;
    padding: $spacing-medium;
    padding-left: $spacing-none;
  }

  .cast-avatar {
    position: relative;
    margin: $spacing-medium;
    margin-left: $spacing-none;
    object-fit: cover;
    object-position: 25% 1%;
    width: 5rem;
    height: 5rem;
    border-radius: 3rem;
    overflow: hidden;

    &.broken:after {
      position: absolute;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background-color: $accent-bg-color;
      width: 5rem;
      height: 5rem;
      border-radius: 3rem;
      content: "";
    }
  }

  .cast-name {
    font-weight: $weight-bold;
    font-size: $size-medium;
  }

  .cast-role,
  .cast-biography {
    margin-bottom: $spacing-none;
  }

  .cast-role {
    font-size: $size-medium;
  }

  .cast-biography {
    font-size: $size-small;
  }

  .content-img-group-bottom {
    height: $content-img-group-height * $grow-factor*0.80;
    margin: $spacing-xxlarge auto;

    .content-img{
      @include contentImgHugeAspectRatio;
    }

    @media (max-width: map-get($breakpoints, "xlarge")) {
      flex-direction: column;
      height: auto;

      .content-img{
        align-self: center;
        width: 80vw;
        min-width: 80vw;
        height: 50vw;
        min-height: 50vw;
        margin: $spacing-none;
        margin-bottom: $spacing-medium;
      }
    }
  }
}
