app-header {
  header {
    position: fixed;
    background-color: $accent-bg-color;
    height: $header-height;
    z-index: 10;
  }

  .header-title {
    width: 20rem;
    width: 50%;
  }

  .logo-wrapper {
    flex-grow: 1;
  }

  .header-title-logo {
    padding-left: $spacing-large;
    padding-right: $spacing-large;
    height: 100%;
    object-fit: contain;
  }

  .header-title-text {
    margin-top: auto;
    margin-bottom: auto;
    font-size: $size-large;
    flex-grow: 5;
  }

  .header-title-link {
    color: $accent-color;
    font-family: $font-title-sans;
    text-decoration: none;
  }

  @media (max-width: map-get($breakpoints, "small")) {
    .header-title-text {
      display: none;
    }
  }
}
