app-header {
  header {
    position: fixed;
    background-color: $accent-bg-color;
    height: 4rem;
    min-height: 3rem;
    z-index: 10;
  }

  .header-tiltle{
    width: 20rem;
  }

  .header-tiltle-logo{
    padding-left: $spacing-large;
    padding-right: $spacing-large;
  }

  .header-title-text{
    margin-top: auto;
    margin-bottom: auto;

    a {
      color: $accent-color;
      font-family: $font-title-sans;
      text-decoration: none;
    }
  }

  img[alt="logo"] {
    height: 100%;
    object-fit: contain;
  }

  @media (min-width: map-get($breakpoints, 'large')) {
    h1#title {
      font-size: $size-medium;
    }
  }

  @media (min-width: map-get($breakpoints, 'medium')) {
    h1#title {
      font-size: $size-small;
    }
  }

  @media (max-width: map-get($breakpoints, 'small')) {
    h1#title {
      display: none;
    }
  }
}
