app-search-bar {
  width: 50%;

  .search-area {
    padding-left: $spacing-xlarge;
    padding-right: $spacing-xlarge;
  }

  .search-bar-icon {
    width: 40px;
    height: 40px;
  }

  .search-bar-input {
    background-color: $accent-bg-color;
    border-top-left-radius: $input-top-left-border-radius;
    border-top-right-radius: $input-top-right-border-radius;
    border-bottom-left-radius: $input-bottom-left-border-radius;
    border-bottom-right-radius: $input-bottom-right-border-radius;
    border: none;
    padding-left: $spacing-medium;
    padding-right: $spacing-medium;
    color: $contrast-color;
    font-weight: $weight-normal;
    font-size: $size-xxlarge;
    height: 13rem;
    max-height: 2rem;
    min-height: 1.5rem;

    &:focus {
      outline: none;
    }
  }
}
