app-thumbnail-board {

  .thumbnail-board-container{
    margin-left: auto;
    margin-left: auto;
    min-height: 80vh;
  }

  .thumbnail-board-empty-msg{
    text-align: center;
    color: lighten($base-color,70);
    font-weight: $weight-bold;
    font-size: $size-xxlarge;
  }
}
